<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    	<title>$title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<p>$greeting</p>
    	<p>$mainmessage</p>
        <p><a href="${url}/user/activate/${activationkey}">$activationlink</a></p>
        <p>$signature</p>
    </body>
</html>